<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee;http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>RegistInventorySvlt</servlet-name>
    <servlet-class>conspro.svlt.RegistInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInventoryListSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditInventorySvlt</servlet-name>
    <servlet-class>conspro.svlt.EditInventorySvlt</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>PictureUploadSvlt</servlet-name>
    <servlet-class>conspro.svlt.PictureUploadSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPictureSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetPictureSvlt</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>GetInventoryListByTypeSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetInventoryListByTypeSvlt</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>LoginSvlt</servlet-name>
    <servlet-class>conspro.svlt.LoginSvlt</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>RegistEmployeeSvlt</servlet-name>
    <servlet-class>conspro.svlt.RegistEmployeeSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInventoryListSortByDateSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetInventoryListSortByDateSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInventoryHistoryListSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetInventoryHistoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadExcelInvSvlt</servlet-name>
    <servlet-class>conspro.svlt.LoadExcelInvSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInventoryAllListSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetInventoryAllListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEmployeeAllListSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetEmployeeAllListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditEmployeeSvlt</servlet-name>
    <servlet-class>conspro.svlt.EditEmployeeSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistEsateiSvlt</servlet-name>
    <servlet-class>conspro.svlt.RegistEsateiSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEsateiAllListSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetEsateiAllListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistSignupSvlt</servlet-name>
    <servlet-class>conspro.svlt.RegistSignupSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSignupAllListSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetSignupAllListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditSignupSvlt</servlet-name>
    <servlet-class>conspro.svlt.EditSignupSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditEsateiSvlt</servlet-name>
    <servlet-class>conspro.svlt.EditEsateiSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadExcelForSellInvSvlt</servlet-name>
    <servlet-class>conspro.svlt.LoadExcelForSellInvSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadExcelForInvCountSvlt</servlet-name>
    <servlet-class>conspro.svlt.LoadExcelForInvCountSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadExcelForClosedInvSvlt</servlet-name>
    <servlet-class>conspro.svlt.LoadExcelForClosedInvSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeachInventoryListSvlt</servlet-name>
    <servlet-class>conspro.svlt.SeachInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOldInventoryListSvlt</servlet-name>
    <servlet-class>conspro.svlt.GetOldInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeachOldInventoryListSvlt</servlet-name>
    <servlet-class>conspro.svlt.SeachOldInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailInventorySvlt</servlet-name>
    <servlet-class>conspro.svlt.DetailInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistClientSvlt</servlet-name>
    <servlet-class>conspro.svlt.RegistClientSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditClientSvlt</servlet-name>
    <servlet-class>conspro.svlt.EditClientSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeachClientListSvlt</servlet-name>
    <servlet-class>conspro.svlt.SeachClientListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadExcelClientAllSvlt</servlet-name>
    <servlet-class>conspro.svlt.LoadExcelClientAllSvlt</servlet-class>
  </servlet>
      
  <servlet-mapping>
    <servlet-name>RegistInventorySvlt</servlet-name>
    <url-pattern>/RegistInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInventoryListSvlt</servlet-name>
    <url-pattern>/GetInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditInventorySvlt</servlet-name>
    <url-pattern>/EditInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PictureUploadSvlt</servlet-name>
    <url-pattern>/PictureUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPictureSvlt</servlet-name>
    <url-pattern>/GetPicture</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>GetInventoryListByTypeSvlt</servlet-name>
    <url-pattern>/GetInventoryListByType</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>LoginSvlt</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>RegistEmployeeSvlt</servlet-name>
    <url-pattern>/RegistEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInventoryListSortByDateSvlt</servlet-name>
    <url-pattern>/GetInventoryListSortByDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInventoryHistoryListSvlt</servlet-name>
    <url-pattern>/GetInventoryHistoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadExcelInvSvlt</servlet-name>
    <url-pattern>/LoadExcelInv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInventoryAllListSvlt</servlet-name>
    <url-pattern>/GetInventoryAllList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEmployeeAllListSvlt</servlet-name>
    <url-pattern>/GetEmployeeAllList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditEmployeeSvlt</servlet-name>
    <url-pattern>/EditEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistEsateiSvlt</servlet-name>
    <url-pattern>/RegistEsatei</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEsateiAllListSvlt</servlet-name>
    <url-pattern>/GetEsateiAllList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistSignupSvlt</servlet-name>
    <url-pattern>/RegistSignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSignupAllListSvlt</servlet-name>
    <url-pattern>/GetSignupAllList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditSignupSvlt</servlet-name>
    <url-pattern>/EditSignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditEsateiSvlt</servlet-name>
    <url-pattern>/EditEsatei</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadExcelForSellInvSvlt</servlet-name>
    <url-pattern>/LoadExcelForSellInv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadExcelForInvCountSvlt</servlet-name>
    <url-pattern>/LoadExcelForInvCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadExcelForClosedInvSvlt</servlet-name>
    <url-pattern>/LoadExcelForClosedInv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeachInventoryListSvlt</servlet-name>
    <url-pattern>/SeachInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOldInventoryListSvlt</servlet-name>
    <url-pattern>/GetOldInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeachOldInventoryListSvlt</servlet-name>
    <url-pattern>/SeachOldInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailInventorySvlt</servlet-name>
    <url-pattern>/DetailInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistClientSvlt</servlet-name>
    <url-pattern>/RegistClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditClientSvlt</servlet-name>
    <url-pattern>/EditClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeachClientListSvlt</servlet-name>
    <url-pattern>/SeachClientList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadExcelClientAllSvlt</servlet-name>
    <url-pattern>/LoadExcelClientAll</url-pattern>
  </servlet-mapping>
            
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

<!--
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

  -->
  
</web-app>